.slides{
    animation : slider_animate 10s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes slider_animate{
    0% {left: -0px;}
    20% {left: -1920px;}
    40% {left: -3840px;}
    60% {left: -5760px;}
    80% {left: -7680px;}
    90% {left: -9600px;}
}
.slide{
    width: 1920px;
    height : 100%;
    object-position: top;
}